@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Raleway_SM";
  src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/raleway/Raleway-Medium.ttf);
}

html {
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

header {
  height: 10vh;
}

header nav ul li {
  padding: 0 3rem;
}

header nav ul li a {
  font-family: "Roboto", sans-serif;
}

main {
  width: 90vw;
  margin: auto;
}

main .accueil {
  height: 90vh;
}

main .accueil img {
  right: -14%;
  width: 40%;
  top: 10%;
}

main .accueil .w-52 {
  padding-top: 8%;
  padding-bottom: 15%;
  width: 35rem;
}

main .accueil .main {
  padding: 1rem 0;
}

main .accueil .main h1 {
  font-size: 3rem;
  font-family: "Raleway_SM", sans-serif;
}

main .accueil .main h2 {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

main .accueil .more div {
  padding: 0.5rem 0;
}

main .accueil .more div p {
  margin: 0;
  padding-bottom: 0.2rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

main .accueil .more .wrapperBtn {
  width: 10rem;
  border-radius: 20px;
}

main .accueil .more button {
  border: #0030fa solid 1px;
  z-index: 1;
  width: 10rem;
  position: relative;
  background: #0030fa;
  border-radius: 20px;
  padding: 5px 30px;
  overflow: hidden;
  color: #fff;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

main .accueil .more button span {
  font-size: 15px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

main .accueil .more #btnContact::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  color: #0030fa;
  font-size: 1px;
  border: #0030fa solid 1px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 10px;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 10rem 10rem;
          transform-origin: 10rem 10rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

main .accueil .more #btnContact:hover {
  color: #000000;
  padding: 5px 10px;
}

main .accueil .more #btnContact:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .accueil .more .effet {
  font-size: 14px;
  color: #000000;
  -webkit-animation: fade linear 1s;
          animation: fade linear 1s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main .accueil .reseaux ul li {
  display: block;
  margin: auto;
  background: #0030fa;
  margin: 1.5rem;
  padding: 10px 15px;
  border-radius: 50px;
}

main .accueil .reseaux ul li a i {
  color: #fff;
  font-size: 2rem;
}

main .projet {
  height: auto;
  padding: 10% 0;
}

main .projet .absolute {
  position: absolute;
  left: -20%;
  width: 40%;
  top: -7%;
}

main .projet .title_projects {
  padding: 0px 0px 5rem 0px;
  max-width: 40rem;
}

main .projet .title_projects h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-align: center;
}

main .projet .title_projects p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

main .projet .container_card .inverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

main .projet .container_card .grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 4rem 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

main .projet .container_card .grid__item .coq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
  border: 1px solid #0030fa;
  -webkit-box-shadow: -8px 10px 1px #0030fa;
          box-shadow: -8px 10px 1px #0030fa;
  font-family: "Raleway_SM", sans-serif;
}

main .projet .container_card .grid__item .coq img {
  width: 40%;
  padding: 1rem 0;
}

main .projet .container_card .grid__item .coq h3 {
  font-size: 2rem;
}

main .projet .container_card .grid__item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
}

main .projet .container_card .grid__item .description div {
  width: 30rem;
}

main .projet .container_card .grid__item .description h4 {
  margin: 1rem;
  font-size: 1.4rem;
}

main .projet .container_card .grid__item .description button {
  border: #0030fa solid 1px;
  background: transparent;
  border-radius: 20px;
  padding: 5px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .projet .container_card .grid__item .description button:hover {
  background: #0030fa;
  color: #fff;
}

main .contact {
  height: 100vh;
}

main .contact img {
  right: -30%;
  width: 40%;
  top: 13%;
}

main .contact .title_contact {
  padding-top: 8%;
  display: block;
  margin-right: auto;
}

main .contact .title_contact h4 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

main .contact .title_contact button {
  background: transparent;
  color: #0030fa;
  padding: 5px 30px;
  border-radius: 20px;
  color: #fff;
  margin: 1.5rem 0;
}

main .contact .container_form {
  display: block;
  margin: auto;
  max-width: 50rem;
  padding-top: 5%;
}

main .contact form .flex {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contact form .flex input {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contact form input {
  margin: 2rem 0;
  border-bottom: 1px solid #b3aeae;
  color: #0030fa;
  outline: none;
}

main .contact form textarea {
  border-bottom: 1px solid #b3aeae;
  color: #0030fa;
  outline: none;
}

main .contact form #sub {
  display: block;
  margin-left: auto;
  border: 1px solid #0030fa;
  color: #fff;
  padding: 5px 30px;
  border-radius: 20px;
  background: #0030fa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

main .contact form #sub:hover {
  background: transparent;
  color: #0030fa;
}

svg {
  width: 18rem;
  position: absolute;
  bottom: 0%;
  left: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

svg #micro_bleu_bas,
#micro_bleu_haut {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(25px) translateY(-25px);
            transform: translateX(25px) translateY(-25px);
    opacity: 1;
  }
}

@keyframes animate {
  from {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(25px) translateY(-25px);
            transform: translateX(25px) translateY(-25px);
    opacity: 1;
  }
}

.workTogether {
  background: #fff !important;
}

.workTogether a {
  color: #000000 !important;
  font-size: 0.5rem;
}

.st0 {
  enable-background: new;
}

.st1 {
  -webkit-clip-path: url(#SVGID_2_);
          clip-path: url(#SVGID_2_);
  enable-background: new;
}

.st2 {
  -webkit-clip-path: url(#SVGID_4_);
          clip-path: url(#SVGID_4_);
  enable-background: new;
}

.st3 {
  -webkit-clip-path: url(#SVGID_6_);
          clip-path: url(#SVGID_6_);
  enable-background: new;
}

.st4 {
  -webkit-clip-path: url(#SVGID_8_);
          clip-path: url(#SVGID_8_);
  enable-background: new;
}

.st5 {
  -webkit-clip-path: url(#SVGID_10_);
          clip-path: url(#SVGID_10_);
  enable-background: new;
}

.st6 {
  -webkit-clip-path: url(#SVGID_12_);
          clip-path: url(#SVGID_12_);
  enable-background: new;
}

.st7 {
  -webkit-clip-path: url(#SVGID_14_);
          clip-path: url(#SVGID_14_);
  enable-background: new;
}

.st8 {
  -webkit-clip-path: url(#SVGID_16_);
          clip-path: url(#SVGID_16_);
  enable-background: new;
}

.st9 {
  -webkit-clip-path: url(#SVGID_18_);
          clip-path: url(#SVGID_18_);
  enable-background: new;
}

.st10 {
  -webkit-clip-path: url(#SVGID_20_);
          clip-path: url(#SVGID_20_);
  enable-background: new;
}

.st11 {
  -webkit-clip-path: url(#SVGID_22_);
          clip-path: url(#SVGID_22_);
  enable-background: new;
}

.st12 {
  -webkit-clip-path: url(#SVGID_24_);
          clip-path: url(#SVGID_24_);
  enable-background: new;
}

.st13 {
  -webkit-clip-path: url(#SVGID_26_);
          clip-path: url(#SVGID_26_);
  enable-background: new;
}

.st14 {
  -webkit-clip-path: url(#SVGID_28_);
          clip-path: url(#SVGID_28_);
  enable-background: new;
}

.st15 {
  -webkit-clip-path: url(#SVGID_30_);
          clip-path: url(#SVGID_30_);
  enable-background: new;
}

.st16 {
  -webkit-clip-path: url(#SVGID_32_);
          clip-path: url(#SVGID_32_);
  enable-background: new;
}

.st17 {
  -webkit-clip-path: url(#SVGID_34_);
          clip-path: url(#SVGID_34_);
  enable-background: new;
}

.st18 {
  -webkit-clip-path: url(#SVGID_36_);
          clip-path: url(#SVGID_36_);
  enable-background: new;
}

.st19 {
  -webkit-clip-path: url(#SVGID_38_);
          clip-path: url(#SVGID_38_);
  enable-background: new;
}

.st20 {
  -webkit-clip-path: url(#SVGID_40_);
          clip-path: url(#SVGID_40_);
  enable-background: new;
}

.st21 {
  -webkit-clip-path: url(#SVGID_42_);
          clip-path: url(#SVGID_42_);
  enable-background: new;
}

.st22 {
  -webkit-clip-path: url(#SVGID_44_);
          clip-path: url(#SVGID_44_);
  enable-background: new;
}

.st23 {
  -webkit-clip-path: url(#SVGID_46_);
          clip-path: url(#SVGID_46_);
  enable-background: new;
}

.st24 {
  -webkit-clip-path: url(#SVGID_48_);
          clip-path: url(#SVGID_48_);
  enable-background: new;
}

.st25 {
  -webkit-clip-path: url(#SVGID_50_);
          clip-path: url(#SVGID_50_);
  enable-background: new;
}

.st26 {
  -webkit-clip-path: url(#SVGID_52_);
          clip-path: url(#SVGID_52_);
  enable-background: new;
}

.st27 {
  -webkit-clip-path: url(#SVGID_54_);
          clip-path: url(#SVGID_54_);
  enable-background: new;
}

.st28 {
  -webkit-clip-path: url(#SVGID_56_);
          clip-path: url(#SVGID_56_);
  enable-background: new;
}

.st29 {
  fill: #858585;
}

.st30 {
  fill: #d6d6d6;
}

.st31 {
  -webkit-clip-path: url(#SVGID_58_);
          clip-path: url(#SVGID_58_);
  enable-background: new;
}

.st32 {
  -webkit-clip-path: url(#SVGID_60_);
          clip-path: url(#SVGID_60_);
  enable-background: new;
}

.st33 {
  -webkit-clip-path: url(#SVGID_62_);
          clip-path: url(#SVGID_62_);
  enable-background: new;
}

.st34 {
  -webkit-clip-path: url(#SVGID_64_);
          clip-path: url(#SVGID_64_);
  enable-background: new;
}

.st35 {
  -webkit-clip-path: url(#SVGID_66_);
          clip-path: url(#SVGID_66_);
  enable-background: new;
}

.st36 {
  -webkit-clip-path: url(#SVGID_68_);
          clip-path: url(#SVGID_68_);
  enable-background: new;
}

.st37 {
  fill: #0020a6;
}

.st38 {
  fill: #001fa1;
}

.st39 {
  fill: #001e9c;
}

.st40 {
  fill: #002adc;
}

.st41 {
  -webkit-clip-path: url(#SVGID_70_);
          clip-path: url(#SVGID_70_);
  enable-background: new;
}

.st42 {
  fill: #001983;
}

.st43 {
  -webkit-clip-path: url(#SVGID_72_);
          clip-path: url(#SVGID_72_);
  enable-background: new;
}

.st44 {
  -webkit-clip-path: url(#SVGID_74_);
          clip-path: url(#SVGID_74_);
  enable-background: new;
}

.st45 {
  -webkit-clip-path: url(#SVGID_76_);
          clip-path: url(#SVGID_76_);
  enable-background: new;
}

.st46 {
  -webkit-clip-path: url(#SVGID_78_);
          clip-path: url(#SVGID_78_);
  enable-background: new;
}

@media screen and (max-height: 690px) {
  main .accueil .w-52 {
    padding-bottom: 8%;
  }
  svg {
    width: 15rem;
    left: 3%;
  }
}

#btn {
  background: none;
  border: 1px solid #000;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  -webkit-transition: color 0.4 linear;
  transition: color 0.4 linear;
  position: relative;
}

#btn:hover {
  color: #fff;
}

#btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 200px 200px;
          transform-origin: 200px 200px;
}

#btn::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=style.css.map */