@font-face{
	font-family:"roboto";
	src : url(/public//assets/fonts/roboto/Roboto-Regular.ttf)
}
@font-face{
	font-family:"Raleway_SM";
	src : url(/public//assets/fonts/raleway/Raleway-SemiBold.ttf)
}
@font-face{
	font-family:"Raleway";
	src : url(/public//assets/fonts/raleway/Raleway-Medium.ttf)
}

$blue: #0030FA;
$black : #0000;
$roboto:  'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$ralewaySM: 'Raleway_SM', sans-serif;


html{
    font-size: 100%;
}
body{
    overflow-x: hidden;
}
header{
    height: 10vh;
}
header nav ul li{
    padding: 0 3rem;
    a{
        font-family: $roboto;
    }
}

main{
    h1{
        font-size: 3rem;
        display: block;
        text-align: center;
        margin: auto;
        padding: 3rem 0;
    }
    .wrapper{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: dense;
        grid-column-gap: 5vw;
        grid-row-gap: 10vh;
        max-width: 1300px;

        .grid_item{
            border: 1px solid $blue;
            border-radius: 20px;
            height: 250px;

            img{
               padding: 20px;
               
            }
        }
    }

}
    